* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  width: 100%;
  height: 368px;
  position: absolute;
  top: 0;
  left: 0;
  /* deixa o elemento no fundo */
  z-index: -1;
  background: #121214;
}

body {
  --font-family-principal: "Archivo", sans-serif;
  --font-family-secondary: "Poppins", sans-serif;
  --color-background: #e5e5e5;

  font-family: var(--font-family-secondary);
  background: var(--color-background);

  .page {
    width: 736px;
    margin: auto;

    header {
      margin-top: 74px;
      width: 319px;

      h1 {
        font-family: var(--font-family-principal);
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: white;
        margin-bottom: 24px;
      }

      p {
        font-size: 16px;
        line-height: 26px;
        color: #42d3ff;
      }
    }

    form {
      margin-top: 38px;
      background: #fafafc;
      min-height: 500px;
      border-radius: 8px 8px 0 0;
      padding: 64px;
      display: flex;
      flex-direction: column;
      gap: 48px;

      fieldset {
        border: none;

        .fieldset-wrapper {
          display: flex;
          flex-direction: column;
          gap: 24px;

          .col-3 {
            display: flex;
            gap: 20px;
          }

          .col-3 > div:nth-child(1) {
            width: 100%;
          }
        }

        legend {
          font-family: var(--font-family-principal);
          font-weight: 600;
          font-size: 24px;
          line-height: 34px;
          width: 100%;
          border-bottom: 1px solid #e6e6f0;
          padding-bottom: 16px;
        }

        .input-wrapper {
          display: flex;
          flex-direction: column;

          label {
            font-size: 14px;
            line-height: 24px;
            color: #4e4958;
            margin-bottom: 8px;

            span {
              margin-left: 12px;
              font-size: 12px;
              line-height: 20px;
              color: #888590;
            }

            span:hover {
              color: #b2b1b6;
            }
          }

          input,
          textarea,
          select {
            background: #fafafc;
            border: 1px solid #e6e6f0;
            box-sizing: border-box;
            border-radius: 8px;
            height: 56px;
            padding: 0 24px;
            font-family: var(--font-family-secondary);
            font-size: 16px;
            line-height: 26px;
            color: #888590;
          }
          
          input:invalid {
            border: 1px solid red;
          }

          textarea {
            padding: 0;
            height: 168px;
          }

          select {
            /* remove a setinha de abertura do dropdown */
            appearance: none;
            -webkit-appearance: none;
            /* base64 é uma forma de colocar a imagem no formato de texto */
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-position: right 24px top 16px;
          }
        }

        .checkbox-wrapper {
          font-size: 14px;
          line-height: 24px;
          color: #4e4958;
          margin-bottom: 8px;
          position: relative;

          label {
            display: flex;
            align-items: center;
            gap: 16px;
          }

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            opacity: 0;
          }

          input:checked + label::before {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6001_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6001_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          }

          input:focus + label::before {
            outline: 2px solid black;

          }

          label::before {
            content: '';
            height: 24px;
            width: 24px;
            border: 1px solid #E6E6F0;
            border-radius: 8px;
            display: block;
            
          }
        }
      }
    }

    footer {
      background: #F0F0F4;
      height: 136px;
      display: flex;
      flex-direction: column;
      padding: 40px 64px;
      margin-bottom: 100px;
      border-top: 1px solid #D6D6D6;
      border-radius: 0 0 8px 8px;

      .button {
        height: 56px;
        background: #04d361;
        border-radius: 8px;
        border: none;
        color: white;
        font-family: var(--font-family-principal);
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
      }

      .button:hover {
        background: #029545;
      }
    }
  }
}
